@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #000;
}

@layer base {
  :root {
    --background: 0, 0%, 96.1%;
    --secondary-background: 210, 36%, 96%;
    --secondary-text: 203, 34%, 57%, 1;
    --primary: 240, 100%, 43%, 1;
    --white: 0, 0%, 101%, 1;
    --black: 0, 0%, 1%, 1;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
